*{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 89.4vh;
}
#paraButtons{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: aliceblue; text-align: center;
}

body {
    
    height: 100%;
    background-image: url(./img/back.png);
    background-size: cover;
  font-family: Arial, sans-serif;
  margin: 20px;
}

#quiz-container {
 
 height: 450px;
  width: 500px;
  padding: 50px;
  border: black solid 1px;
  flex-direction: column;
  border: #363636 solid 1px;
  border-radius: 7px;
  background-color: white;
}
@media screen and (max-width: 500px) {
  
button {
  width: 100px;
  height: 30px;
  margin: 10px;
}
  
#quiz-container {
 display: flex;
 flex-direction: column;
  height: 600px;

  width: 300px;
  font-size: 10px;
   
 }
}
p{
  font-size: 20px;
  text-align: center;
  margin: 50px;
}

button {
  width: 150px;
  height: 60px;
  margin: 20px;
  border: 3px solid #024955;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background: #024955;
  color: white;
  font-size: 20px;
}